<div>
    <ul class="nav">
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="''">Home</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'book'">Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'student'">Student</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'employee'">Employee</a>
          </li>
        
      </ul>
      </div>
      <div class="container">
    <router-outlet></router-outlet>
        </div>